@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #f5f5f7;
	overflow-x: hidden;
}

.scroll-text {
	@apply text-lg text-[21px] font-semibold text-[#959495];
}
